.post-list-wrap{
    .editor-wrap{
        background: #fefefe;
        /* padding: 10px; */
        border: solid 1px gainsboro;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 4px;
        box-shadow: 0px 2px 4px 0px gainsboro;
        width: 900px;
    }
}
