.sql-dashboard-wrap {
    .uploader-wrap {
        box-shadow: 0px 0px 2px 0px gainsboro;
        .rc-upload {
            height: 200px;
            background: #d5d5d5;
            display: block;
            line-height: 200px;
            text-align: center;
        }
    }

}
